
<div data-role="header">
  <h1>Zul's Todolist Login</h1>
<!-- end .header --></div>


<%= image_tag "DigiserveLogo5.png", :width => "65%", :style => 'display: block; margin-left: auto; margin-right: auto;' %>

  <div data-role="content">


    <p> To login click any one of the following links to authorize app.
      </br>
        Each authorization will result in a separate copy of database resulting in upto four different
      copies, one associated with each service.
      </br>
      </br>
    </p>
      <ul data-role="listview" data-filter="true">

      <%= link_to "Connect With Facebook", "/auth/facebook" %> </br></br>
      <%= link_to "Connect With Twitter", "/auth/twitter" %> </br></br>
      <%= link_to "Connect With Linkedin","/auth/linkedin" %></br></br>
      <%= link_to "Connect With Github", "/auth/github"%>


      </ul>
    <!-- end .content --></div>

  <div data-role="footer">

    <p>Digiserve Copyright 2013</p>
    <!-- end .footer --></div>

