<%= form_for(@todolist) do |f| %>
  <% if @todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
      <% @todolist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :task %><br />
    <%= f.text_area :task %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority, :min=> 1, :max=>5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
