

<div data-role="header">


  <p><%=if $name
          $name.capitalize
        end
  %> List Tasks  </p>

  <p>Logged in through <%=if $provider
                            $provider.capitalize end %></p>

  <%= link_to 'Back', todos_path, {"data-icon" =>"back", "data-ajax" =>"false", "class" => "ui-btn-right"} %>

  <div data-role="navbar"  data-iconpos="top" >

    <ul>




      <li><%= link_to 'Email All Tasks',  emailform_path, {"data-icon" =>"grid", "data-ajax" =>"false"} %></li>

    </ul>

  </div>

  <!-- end .header --></div>



<div data-role="content" data-theme="b" data-transition= "flip" >

  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="e">


      <% @todolists.each do |todolist| %>

        <li><%= link_to todolist.task, todolist %></li>


      <% end %>




  </ul>


  <!-- end .content --></div>

