
</head>
<div data-role="header">


<h1><%=if $name
         $name.capitalize
       end
%> Todos List</h1>

<h3>Logged in through <%=if $provider
                           $provider.capitalize end %></h3>

  <!-- end .header --></div>

<div data-role="content">
  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="a">


<% @todos.each do |todo| %>
    <li>

    <h3><%= "Subject" %></h3><p><%= todo.subject %></p>
    <h3><%= "Priority" %></h3><p><%= todo.priority %></p>
    <h3><%= "Description" %></h3><p><%= todo.description %></p>
    </li>
    <li>
    <p><%= link_to 'Show', todo %></p>
    <p><%= link_to 'Edit', edit_todo_path(todo) %></p>
    <p><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></p>

    </li>

<% end %>


<br />

<%= link_to 'New Todo', new_todo_path %>
  </ul>

  <!-- end .content --></div>
