

<div data-role="header">







  <%= link_to 'Back', todos_path, {"data-icon" =>"back", "data-ajax" =>"false", "class" => "ui-btn-left"} %>

  <h1> Subject:<%= @todo.subject%> </br> Priority:<%= @todo.priority%></h1>



  <div data-role="navbar"  data-iconpos="top" >

    <ul>

      <li> <%= link_to 'Add Task', new_todolist_path, "data-icon"=>"plus" %></li>
      <li><%= link_to 'Edit Subject',  edit_todo_path(@todo), {"data-icon" =>"star"} %></li>
      <li><%= link_to 'Delete Subject ', todo_path(@todo), method: :delete, data: { confirm: 'Are you sure?' },"data-icon"=>"minus"  %> </li>
      <li><%= link_to 'Email Tasks',  emailform_path, {"data-icon" =>"grid", "data-ajax" =>"false"} %></li>


    </ul>

    <p id="notice"><%= notice %></p>
  </div>

  <!-- end .header --></div>

<div data-role="content" data-theme="e" data-transition= "flip">
  <ul data-role="listview" data-filter="true" data-inset="true" data-theme="b">






  <% @todo.todolists.order(:priority).each do |list| %>
    <li>
      <%= link_to list.task, list %>
    </li>
   <% end %>


</ul>
  <!-- end .content --></div>
